
/*--- Main CSS here ---*/

/*------------------------------------*\
	IPHONE
\*------------------------------------*/
/*--- iPhone only CSS here ---*/


body{  -webkit-text-size-adjust:none;  font-family:Helvetica, Arial, Verdana, sans-serif;  padding:5px; width:960px;}

.trending_list ul{list-style-type:none;margin:0px;padding:0px;}
.trending_list ul li{list-style-type:none;display:block;margin:0px;padding:0px;}
.trending_list ul li.venue {height:40px;line-height:40px;background:#eeeeee;color:#555555;margin-bottom:10px;padding:10px;}
.trending_list ul li.venue span.rank{font-size:18px; font-weight:bold;}
.trending_list ul li.venue span.view-button{cursor:pointer;display:inline-block;float:right;right:0px;background:#ab3333;color:#ddddff;height:26px;width:150px;margin:2px;border:1px solid #4444ff;line-height:26px;padding:5px;text-align:center;}
.trending_list ul li.venue span.view-button:hover{background:#2277ee;color:#222222;}
.trending_list ul.patron_list {margin-left:50px;}
.trending_list ul.patron_list li.patron {height:75px;line-height:75px;margin-bottom:20px;font-size:10px;}
.trending_list ul.patron_list li.patron span.name {height:75px;line-height:75px;font-weight:bold;color:#ff0000;text-align:center;font-size:10px;}
.trending_list ul.patron_list li.patron img{border:3px solid #666666;vertical-align:middle;}
.trending_list ul.hidden{display:none;}

.shadow { box-shadow: 2px 2px 4px #888; -webkit-box-shadow: 2px 2px 4px #888;-moz-box-shadow: 2px 2px 4px #888;}
.round {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
