
/*--- Main CSS here ---*/

/*------------------------------------*\
	IPHONE
\*------------------------------------*/
/*--- iPhone only CSS here ---*/


body{ display:inline-block;font-family:Helvetica, Arial, Verdana, sans-serif; padding:0px; margin:0px;}

div.iphone_wrapper {position:relative;width:320px;min-height:480px;display:inline-block;background:#991111;display:inline-block;padding:0px;margin:0px;}
div.content_wrapper {min-height:400px;background:#991111;padding:0px;margin:0px;}

header h4 {text-align:center;height:40px;background:#1c1c1c;color:#ffffff;padding:0px;margin:0px;line-height:40px;}

footer {display:inline-block;width:100%;padding:0px;margin:0px;}
footer ul {list-style-type:none;display:inline-block;width:100%;height:40px;background:#1c1c1c;padding:0px;margin:0px;float:left;}
footer ul li {list-style-type:none;display:inline-block;width:20%;height:40px;padding:0px;margin:0px;cursor:pointer;float:left;}
footer ul li span.icon {display:inline-block;width:100%;text-align:center;color:#b1b1b1;padding:0px;margin:0px;line-height:40px;}
footer ul li span.icon:hover {color:#878787;}


.trending_list ul{list-style-type:none;margin:0px;padding:0px;display:inline-block;width:100%;margin-top:-4px;}
.trending_list ul li{list-style-type:none;display:inline-block;margin:0px;padding:0px;width:100%;}
.trending_list ul li.venue {height:40px;line-height:20px;background:#eeeeee;color:#555555;border-bottom:1px solid #cccccc;}
.trending_list ul li.venue span.rank{font-size:15px; font-weight:bold;padding-left:3px;padding-right:5px;}

.trending_list ul li.venue span.venue_stats{padding-left:20px;}

.trending_list ul li.venue span.view-button{cursor:pointer;display:inline-block;float:right;right:0px;color:#aaaaaa;margin-top:-20px;line-height:40px;text-align:center;font-size:20px;border-left:1px solid #aaaaaa;padding-left:15px;padding-right:15px;}
.trending_list ul li.venue span.view-button:hover{color:#222222;}
.trending_list ul li.venue span#map_link a {text-decoration:none;}

.trending_list ul.patron_list {display:inline-block;width:100%;padding-top:10px;padding-bottom:10px;height:40px;}
.trending_list ul.patron_list li.patron {height:60px;line-height:10px;font-size:14px;width:100%;}
.trending_list ul.patron_list li.patron div.patron_data {line-height:15px;padding-left:5px;display:inline-block;height:40px;float:left;padding-top:10px;padding-bottom:10px;}
.trending_list ul.patron_list li.patron span.name {height:60px;font-weight:bold;color:#ff0000;text-align:center;font-size:14px;}
.trending_list ul.patron_list li.patron img{vertical-align:middle;float:left;}
.trending_list ul.patron_list li.hidden {display:none;}
.trending_list ul.hidden{display:none;}

span.left_arrow {position:relative;display:inline-block;width:5%;float:left;float:left;height:60px;line-height:50px;padding-left:1%;cursor:pointer;}
span.right_arrow {position:relative;display:inline-block;width:5%;float:right;float:right;height:60px;line-height:50px;padding-right:1%;cursor:pointer;}

.hidden {display:none;}
.shadow { box-shadow: 2px 2px 4px #888; -webkit-box-shadow: 2px 2px 4px #888;-moz-box-shadow: 2px 2px 4px #888;}
.round {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}

