
/*Venue Show Page*/
div.venue_page {margin:0px;padding:0px;}
div.venue_page h1 {margin:0px;padding:0px;text-align:center;border-bottom:4px ridge #2222cc;background:#0000ff;margin-top:-4px;padding:6px;font-size:24px;}

div.search_page {}
div.search_page input.venue_search {width:70%;height:35px;padding:0px;margin-top:-3px;float:left;border:0px solid #1c1c1c;}
div.search_page div.venue_search_submit {width:30%;height:36px;display:inline-block;margin-top:-3px;background:#1c1c1c;color:#ffffff;float:right;line-height:36px;text-align:center;cursor:pointer;}
div.search_page div.venue_search_submit:hover {color:#aaaaaa;}
div.search_page div.venue_search_submit:active {background:#ffffff;color:#1c1c1c;margin-top:-3px;}