<div class="db_search">
<h2>Today's Checkins So Far.</h2>

<% 
t = Time.now
cur_year = t.year
cur_month = t.month
cur_day = t.day
get_all_checkins_on(cur_year, cur_month, cur_day).each do |i| 

%>

<%= i.venue.name %> - <%= i.patron.f_name %> - <%= (Time.now.to_i - i.fs_created_at)/60 %> minutes ago.<br/>

<% end %>
</div>