<div class="patrons_page">

<% 

patron_array = Array.new

%>
	<ul>
	
	<% 
	
	count = 0
	
	@patrons.each do |i| 
	
	
		patron_array[count]= { "photo" => i.photo, "name" => i.f_name, "visits" => i.visits.count }
	
	
		%>	
	
		<%
		count+=1
	end 
	%>
	
	
	<%
	
	patron_array.sort! { |a,b| b["visits"] <=> a["visits"] }
	
	new_count = 0
	
	patron_array.each do |j| %>
	
	
		<li><img src="<%= patron_array[new_count]["photo"] %>" width="25"/>, <%= patron_array[new_count]["name"] %>, <%= patron_array[new_count]["visits"] %></li>
	
	
	<% 
	new_count+=1
	end 
	%>
	
	</ul>
	
	
	
	
	
</div>