<div class="search_page">
	<% if @results.nil? %>
		<input id="search_field" type="text" class="venue_search" placeholder="Enter a Venue's Name"/><div id="venue_submit" class="venue_search_submit" >Search</div>
	<% else %>
		
	<% end %>
</div>