<div class="tags">

	<% 
	@venues.each do |i| 
		venue_id = i.foursquare_id	
	%>
	
		<%	get_venue(venue_id)["response"]["venue"]["tags"].each do |j| %>
			
			
			<%= j %><br />
			<%
				Tag.create(
					:tag => j
				)	
			%>
			
			
		<% end %>
	<% end %>
	
</div>