<footer>
	<ul>
		<li><%= link_to root_path do |l| %><span class="icon">⌂</span><% end %></li>
		<li><span class="icon">l</span></li>
		<li><span class="icon">f</span></li>
		<li><span class="icon">❤</span></li>
		<li><%= link_to search_path do |l| %><span class="icon">z</span><% end %></li>
	</ul>
</footer>