<footer>
	<ul>
		<li><span class="icon">⌂</span></li>
		<li><span class="icon">l</span></li>
		<li><span class="icon">f</span></li>
		<li><span class="icon">❤</span></li>
		<li><span class="icon">z</span></li>
	</ul>
</footer>